<div class="jumbotron text-center">
  <h1>Mauritania Mining Services</h1>
  <p>Our focus is on applying the expertise of our employees to attractive projects while pledging to deliver leading technology
    and overriding commitment to safe practices.
  </p>
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>